<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
	</startup>
	<system.serviceModel>
		<services>
			<service name="LocalDatabase.Connection">
				<host>
					<baseAddresses>
						<add baseAddress="net.tcp://localhost:8000"/>
					</baseAddresses>
				</host>
				<endpoint address="IConnection" binding="netTcpBinding"
						  contract="Common.IConnection"/>
			</service>
		</services>
		<bindings>
			<netTcpBinding>
				<binding name="SecureNetTcpBinding">
					<security mode="Transport">
						<transport clientCredentialType="Windows" protectionLevel="EncryptAndSign" />
					</security>
				</binding>
			</netTcpBinding>
		</bindings>
		<client>
			<endpoint name="DBConnection"
					  address="net.tcp://localhost:8001/IDBConnection"
					  binding="netTcpBinding"
					  contract="Common.IDBConnection"/>
		</client>
	</system.serviceModel>
</configuration>